body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.addCoursePage {
  background: url(https://video-public.canva.com/VAFGWxITitg/p/0eddd416b5.jpg);
}


video {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card {
  width: 280px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  cursor: default;
}

.card:hover {
  cursor: default;
  box-shadow: 1px 1px 19px 9px #bebebe, 1px 1px 19px -4px #ffffff;
  transition: 0.2s ease-in-out;
}

.img {
  width: 100%;
  height: 9em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(#e0a3df, #1a28c1);
  display: flex;
  align-items: top;
  justify-content: right;
  z-index: -1;
  cursor: default;
}

.imgCard {
  width: 100%;
  height: 9em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  cursor: default;
  /* z-index: -1; */
}

.text {
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.text .h3 {
  font-size: medium;
  font-weight: 700;
  color: black;
  text-align: left;
}

.text .p {
  color: #999999;
  font-size: 16px;
  margin: 0px;
  text-align: center;
  padding: 5px;
}

.icon-box {
  margin: 10px;
  /* padding: 10px; */
  background-color: #e0a3df;
  border-radius: 10px;
  text-align: center;
}

.icon-box .span {
  font-size: large;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 426px) {
  .boxCourses {
    gap: 20px;
  }
}

