body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.addCoursePage {
  background: url(https://video-public.canva.com/VAFGWxITitg/p/0eddd416b5.jpg);
}
.paymentPage {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* !  ++++++++++++++++++++++++++++++++++++Profile starts++++++++++++++++++++++++++++++++++++++++*/

.profile_container {
  display: flex;
}
.first_section {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.first__section_avatar {
  width: 245px;
  height: 245px;
}
.first__section_cartHolder {
  width: 245px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 180px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #ff00d4;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #ff00d4;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #000000;
  line-height: 1.4;
}

.card__button {
  width: 110px;
  height: 30px;
  border-radius: 8px;
  background: #ff00d4;
  border: none;
  color: white;
  margin-left: 5px;
}

.secondary {
  background: transparent;
  color: #000000;
  border: 1px solid #ff00d4;
}

.second_section {
  width: 70%;
  height: 100vh;
}

.infa__holder {
  display: none;
}

.second_section__item_visible {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}

.second_section__item_visible div div p {
  font-size: 22px !important;
}

.second_section__item_visible div:nth-child(2) {
  margin-left: 50px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px; /* Set a maximum width if desired */
  margin: 50px auto 0 !important;
  border: 1px solid #ccc;
}

.css-1tyumyi-MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.month {
  width: calc(100% / 12);
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  box-sizing: border-box;
}

.day {
  width: 5px;
  height: 5px;
  margin: 1px;
  display: inline-block;
}

.green {
  background-color: rgb(0, 255, 0);
}

.gray {
  background-color: gray;
}

/* !  ++++++++++++++++++++++++++++++++++++Profile ends++++++++++++++++++++++++++++++++++++++++*/

/* !  ---------------------------------CoursesReviews starts-----------------------------------------*/

.cardCom {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.cardCom-comment {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  width: 60% !important;
  display: flex;
  flex-direction: column;
}

.titleCom {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.formCom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.groupCom {
  position: relative;
}

.formCom .groupCom label {
  font-size: 14px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -10px;
  left: 10px;
  transition: all 0.1s ease;
}

.formCom .groupCom input,
.formCom .groupCom textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
  color: white;
}

.formCom .groupCom input:placeholder-shown + label,
.formCom .groupCom textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.formCom .groupCom input:focus,
.formCom .groupCom textarea:focus {
  border-color: #ff00dd;
}

.formCom .groupCom input:focus + label,
.formCom .groupCom textarea:focus + label {
  top: -10px;
  left: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.formCom .groupCom textarea {
  resize: none;
  height: 100px;
}

/* .formCom button {
  background-color: rgb(215, 60, 190);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
} */

.formCom .comment-btn {
  background-color: rgb(215, 60, 190);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.formCom button:hover {
  background-color: rgb(245, 98, 220);
}

.comment-second-btn {
  margin: 2% auto !important;
}

.review {
  background-color: rgba(243, 244, 246, 1);
  padding: 2rem;
  max-width: 53%;

  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}

.review-input {
  background-color: rgba(243, 244, 246, 1);
  padding: 2rem;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-gap: 1rem;
  gap: 2rem; */
}

.stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgb(215, 60, 190);
}

.name_review {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, 1);
}

.review_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}
/* !  ---------------------------------CoursesReviews ends-----------------------------------------*/

/* todo ======================================1024px=============================================== */
@media screen and (max-width: 1024px) {
  .profile_container {
    flex-flow: column;
    align-items: center;
  }

  .first_section {
    width: 100%;
    height: auto;
  }

  .second_section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 20px;
    gap: 5px;
  }

  .card {
    width: 245px;
  }

  .second_section__item_visible {
    display: none;
  }

  .infa__holder {
    display: block;
  }

  .name {
    min-width: 207px;
    height: 50px;
    width: 50vw;
    max-width: 500px;
    border: 2px solid white;
    margin-bottom: 5px;
  }

  .data {
    min-width: 207px;
    height: 50px;
    width: 50vw;
    max-width: 500px;
    border: 2px solid white;
  }

  .phoneNumber {
    min-height: 50px;
    width: 90%;
    max-width: 500px;
    border: 2px solid white;
  }

  .hidden {
    display: none !important;
  }

  .visible {
    display: flex !important;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    flex-flow: wrap;
  }
}

/* Курсы карточки */

.cardCourse {
  width: 280px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  cursor: default;
}

.cardCourse:hover {
  cursor: default;
  box-shadow: 1px 1px 19px 9px #bebebe, 1px 1px 19px -4px #ffffff;
  transition: 0.2s ease-in-out;
}

.imgCourse {
  width: 100%;
  height: 9em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(#e0a3df, #1a28c1);
  display: flex;
  align-items: top;
  justify-content: right;
  z-index: -1;
  cursor: default;
}

.imgCardCourse {
  width: 100%;
  height: 9em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  cursor: default;
  /* z-index: -1; */
}

.textCourse {
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.textCourse .h3Course {
  font-size: medium;
  font-weight: 700;
  color: black;
  text-align: left;
}

.textCourse .pCourse {
  color: #999999;
  font-size: 16px;
  margin: 0px;
  text-align: center;
  padding: 5px;
}

.icon-box-course {
  margin: 10px;
  padding: 10px;
  background-color: #e0a3df;
  border-radius: 10px;
  text-align: center;
}

.spanCourse {
  font-size: large;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 426px) {
  .boxCourses {
    gap: 20px;
  }
}
